@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --color-primary: tomato;
  --color-primary-rgb: 255, 99, 71;
  --color-line: #ddd;
  --opacity: 0.33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 40px 0;
  width: 100%;
}
